:root {
	--color1: #eb6209;
	--color1light: #ffdfcb;
	--color2: #2a9d8f;
	--color2light: #e9f6f2;
	--color3: #1d3d91;
	--color3light: #e0eff1;
	--color4: #a72886;
	--color4light: #f0e2f0;
	--color5: #af201f;
	--color5light: #f3ded6;
}

.displayHomepage blockquote {
	font-size: 1.5em;
	margin: 0;
}
#innerBox {
	background-color: #eeeded24 !important;
	border: 2px solid grey;
}
.displaySubSection h2 {
	margin-top: 1.25em;
}

.subSectionContent a {
	color: darkred;
	text-decoration: grey underline;
}

.displaySubSection h2 aside {
	font-size: 0.75em;
	margin-top: 0.5em;
}
.subSectionContent h3 {
	visibility: hidden;
	height: 20px;
}
.noSubSections h3 {
	display: none;
	height: 0px;
}

h4 {
	display: inline-block;
	padding: 10px 15px;
	border-radius: 12px;
	margin-bottom: 20px;
	color: white;
}
h3 {
	border-radius: 15px;
	width: auto !important;
	max-width: 180px;
	font-size: 1em;
}
#content > section:nth-of-type(5n + 1) .visible h3,
#content > section:nth-of-type(5n + 2) .visible h3,
#content > section:nth-of-type(5n + 3) .visible h3,
#content > section:nth-of-type(5n + 4) .visible h3,
#content > section:nth-of-type(5n + 5) .visible h3 {
	border: 2px solid #777;
}
#content > section:nth-of-type(5n + 1) h3,
#content > section:nth-of-type(5n + 1) .visible h3 {
	background-color: var(--color1light);
}
#content > section:nth-of-type(5n + 2) h3,
#content > section:nth-of-type(5n + 2) .visible h3 {
	background-color: var(--color2light);
}
#content > section:nth-of-type(5n + 3) h3,
#content > section:nth-of-type(5n + 3) .visible h3 {
	background-color: var(--color3light);
}
#content > section:nth-of-type(5n + 4) h3,
#content > section:nth-of-type(5n + 4) .visible h3 {
	background-color: var(--color4light);
}
#content > section:nth-of-type(5n + 5) h3,
#content > section:nth-of-type(5n + 5) .visible h3 {
	background-color: var(--color5light);
}

.displaySubSection #content > section:nth-of-type(5n + 1) h2 a,
.displaySubSection #content > section:nth-of-type(5n + 1) h2 a aside,
#content > section:nth-of-type(5n + 1) h3 {
	color: var(--color1);
}

#content > section:nth-of-type(5n + 1) h4 {
	background-color: var(--color1);
}

.displaySubSection #content > section:nth-of-type(5n + 2) h2 a,
.displaySubSection #content > section:nth-of-type(5n + 2) h2 a aside,
#content > section:nth-of-type(5n + 2) h3 {
	color: var(--color2);
}

#content > section:nth-of-type(5n + 2) h4 {
	background-color: var(--color2);
	color: white;
}

.displaySubSection #content > section:nth-of-type(5n + 3) h2 a,
.displaySubSection #content > section:nth-of-type(5n + 3) h2 a aside,
#content > section:nth-of-type(5n + 3) h3 {
	color: var(--color3);
}

#content > section:nth-of-type(5n + 3) h4 {
	background-color: var(--color3);
	color: white;
}

.displaySubSection #content > section:nth-of-type(5n + 4) h2 a,
.displaySubSection #content > section:nth-of-type(5n + 4) h2 a aside,
#content > section:nth-of-type(5n + 4) h3 {
	color: var(--color4);
}

#content > section:nth-of-type(5n + 4) h4 {
	background-color: var(--color4);
	color: white;
}

.displaySubSection #content > section:nth-of-type(5n + 5) h2 a,
.displaySubSection #content > section:nth-of-type(5n + 5) h2 a aside,
#content > section:nth-of-type(5n + 5) h3 {
	color: var(--color5);
}

#content > section:nth-of-type(5n + 5) h4 {
	background-color: var(--color5);
	color: white;
}

.displayHomepage h2 a:hover {
	background-color: #f1f1f1f1;
	border-color: #b2a889;
	color: black;
}
.displayHomepage h2 a {
	background-color: white;
}
h3 img {
	margin-left: 0.5em;
}

@media screen and (max-width: 834px) {
	#content > section:nth-of-type(5n + 1) h3,
	#content > section:nth-of-type(5n + 2) h3,
	#content > section:nth-of-type(5n + 3) h3,
	#content > section:nth-of-type(5n + 4) h3,
	#content > section:nth-of-type(5n + 5) h3 {
		border: none;
		max-width: unset;
		padding: 0;
	}
	#content > section:nth-of-type(5n + 1) .visible h3,
	#content > section:nth-of-type(5n + 2) .visible h3,
	#content > section:nth-of-type(5n + 3) .visible h3,
	#content > section:nth-of-type(5n + 4) .visible h3,
	#content > section:nth-of-type(5n + 5) .visible h3 {
		background-color: unset;
		border: none;
	}
	#content > section:nth-of-type(5n + 1) h3 a,
	#content > section:nth-of-type(5n + 2) h3 a,
	#content > section:nth-of-type(5n + 3) h3 a,
	#content > section:nth-of-type(5n + 4) h3 a,
	#content > section:nth-of-type(5n + 5) h3 a {
		width: 130px !important;
	}
	#content > section:nth-of-type(5n + 1) h3 a {
		border-bottom-color: var(--color1);
	}
	#content > section:nth-of-type(5n + 2) h3 a {
		border-bottom-color: var(--color2);
	}
	#content > section:nth-of-type(5n + 3) h3 a {
		border-bottom-color: var(--color3);
	}
	#content > section:nth-of-type(5n + 4) h3 a {
		border-bottom-color: var(--color4);
	}
	#content > section:nth-of-type(5n + 5) h3 a {
		border-bottom-color: var(--color5);
	}
	.subSectionContent h3 {
		margin: 0;
		height: 0;
	}
}


@media screen and (min-width: 835px) and (pointer: fine) {
	#backgroundInnerBox,
	.subSectionContent {
		background-color: transparent;
	}
	.subSectionContent {
		padding-bottom: 2em;
		max-height: 61vh;
	}
}
