:root {
	--maxWidth: 850px;
}

body {
	font-family: "Inter", sans-serif, Avenir, Helvetica, Arial;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	font-size: 1.1em;
	margin-bottom: 120px;
}

#innerBox,
#backgroundInnerBox {
	background-color: rgb(235, 239, 248);
}

#innerBox {
	max-width: var(--maxWidth);
	min-height: 82vh;
	margin: auto;
	padding: 1em 3em;
	margin-bottom: 5em;
}

#backgroundInnerBox {
	position: fixed;
	width: 100%;
	max-width: var(--maxWidth);
	min-height: 82vh;
	margin: -3em;
	padding: 0 3em;
	z-index: -1;
}

header {
	text-align: center;
}

#initialMessage {
	text-align: left;
	display: none;
	margin: auto;
	margin-bottom: 3em;
	padding: 0 10px;
	max-width: 700px;
}

img {
	max-height: 300px;
}

main {
	text-align: left;
}

footer {
	width: 100vw;
	height: 4em;
	margin: 0;
	position: fixed;
	padding: 20px 0px;
	font-size: 0.9em;
	text-align: center;
	bottom: 0px;
	background-color: white;
	display: flex;
}

footer span {
	display: none;
}

#footerContent {
	max-width: var(--maxWidth);
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

footer a {
	text-decoration: none;
	color: #666;
	max-width: 250px;
}
footer a:hover {
	color: black;
}

footer a aside {
	display: none;
}

.sectionContent,
.displayHomepage .sectionContent,
.displayHomepage .sectionContent,
.displayHomepage .subSection,
.displaySection header,
.displaySubSection header,
.displaySection h2,
.displaySubSection h2 {
	display: none;
}

.displaySection .subSectionContent {
	display: none;
}

.displaySection .visible h2,
.displaySubSection .visible h2 {
	display: block;
}

.visible,
.visible .sectionContent,
.displaySubSection .subSection.visible {
	display: flex !important;
	flex-direction: column;
}

nav {
	display: none;
}

#navButtons button {
	color: #0268df;
}

.displaySubSection .subSection:not(.visible) .subSectionContent {
	display: none;
}

.noSubSections {
	max-width: 700px;
	margin: auto;
}

h1 {
	margin-bottom: 1.25em;
}

h2 {
	text-align: center;
	flex-grow: 1;
	width: 100% !important;
}

h2 aside {
	font-size: 0.8em;
	color: #333;
	font-weight: 300;
}
.displayHomepage h2 aside {
	display: inline;
}

h3 {
	flex-shrink: 0;
	width: 180px;
	padding: 5px 20px;
	margin: 10px 0;
	display: flex;
	align-items: center;
	cursor: pointer;
	flex-wrap: wrap;
}

h3 img {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: contain;
	margin-left: -0.5em;
	margin-right: 0.5em;
}

h3 .large img {
	object-fit: none;
	width: 100%;
	min-height: 100px;
	border-radius: 0;
	margin-bottom: 0.5em;
}

h3 a {
	color: #200d33;
	text-decoration: none;
	width: 130px;
}

h3 aside {
	display: block;
	font-weight: 300;
	font-size: 0.9em;
}
h3 aside aside {
	font-weight: 300;
	font-size: 0.9em;
	color: #888;
	margin-top: 3px;
}
h3 a:empty:before {
	content: "…";
}

.subSection,
.subSection.visible {
	display: flex;
	flex-direction: row !important;
	gap: 40px;
}

.subSection.visible h3 {
	background-color: rgb(208, 224, 247);
}

.displayHomepage h2 a {
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 5px 40px;
	display: inline-block;
	color: black;
	border-radius: 12px;
	font-size: 0.95em;
	text-align: left !important;
	border: 1px solid #666;
	width: 60%;
	font-weight: 300;
}
.displayHomepage h2 a:hover {
	background-color: rgb(0, 132, 255);
	border-color: rgb(0, 132, 255);
	color: white;
}

.displaySection h2,
.displaySubSection h2 {
	margin-bottom: 1em;
}
.displaySection h2 a,
.displaySubSection h2 a {
	color: black;
	text-decoration: none;
}

.displaySubSection h2 aside {
	font-size: 0.75em;
}
.subSectionContent h3 {
	visibility: hidden;
	height: 20px;
}
.noSubSections h3 {
	display: none;
	height: 0px;
}

input {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.05);
	border: none;
	height: 24px;
	padding: 0px 12px;
}

#searchBar {
	display: none;
	position: absolute;
	top: 10px;
	margin-left: -1em;
}

#displayResults ul {
	margin-top: 1em;
	background: rgb(222 222 233);
	padding: 10px 20px;
	font-size: 13px;
	border-radius: 20px 0px 20px 0px;
	list-style-type: none;
}

#displayResults a span {
	display: none;
}

#linkToHomePage {
	display: none;
	position: absolute;
	top: 30px;
	width: 90%;
	max-width: var(--maxWidth);
	margin: auto;
	text-align: right;
}

#linkToHomePage a {
	display: block;
	padding-right: 1em;
	text-decoration: none;
}

.center {
	text-align: center;
}

.admonition {
	border: 2px solid black;
	border-radius: 5px;
	padding: 0.5em 1em;
	background-color: #eee;
	margin-bottom: 1em;
}

.admonition.info {
	border-color: #1505a1;
	background-color: #f6f7ff;
}
.admonition.tip,
.admonition.success {
	border-color: #02461f;
	background-color: #f7fff6;
}
.admonition.warning,
.admonition.danger {
	border-color: #b94a48;
	background-color: #fff6f6;
}

.admonitionContent {
	font-size: 0.95em;
}

.admonitionTitle {
	font-weight: bold;
	font-size: 0.9em;
	margin-bottom: 0.5em;
}

.info .admonitionTitle {
	color: #0b0258;
}
.tip .admonitionTitle {
	color: #012e14;
}
.warning .admonitionTitle {
	color: #470302;
}

details {
	cursor: pointer;
}

pre {
	background-color: white;
	padding: 1em 2em;
	width: fit-content;
	box-shadow: 1px 1px 1px 1px #aaa;
	margin: 2em auto;
}

mark {
	background-color: #eeff6fe3;
}

@media screen and (max-width: 834px) {
	html,
	footer {
		background-color: rgb(235, 239, 248);
	}

	#searchBar {
		margin-left: 1em;
	}

	footer {
		font-size: 10px;
		height: auto;
	}

	#footerContent {
		gap: 10px;
		padding: 0px 10px;
		overflow-y: auto;
		justify-content: left;
	}

	h1 {
		padding-top: 2em;
		margin-top: -0.25em;
	}

	.noSearchBar h1 {
		padding-top: 1.25em;
	}

	h2 {
		margin-top: 2em;
	}

	.noSearchBar h2 {
		margin-top: 1em;
	}

	.displayHomepage h2 {
		font-size: 1em;
		margin-top: 1.25em;
	}
	#innerBox {
		padding: 0em 0.75em;
	}
	.displayHomepage #innerBox {
		padding: 0em !important;
	}

	.displaySubSection .subSection {
		flex-wrap: wrap;
		gap: 5px;
	}

	main {
		background-color: white;
		margin-top: 7px;
		border-radius: 12px;
		padding-bottom: 20px;
	}
	.displayHomepage {
		background-color: rgb(246, 246, 248);
	}

	.displaySubSection main {
		box-shadow: 0.125rem 0.125rem 1rem rgba(0, 0, 0, 0.2);
	}

	.displayHomepage main {
		background-color: transparent;
	}

	h3 {
		width: 95%;
		padding-top: 10px;
		padding-bottom: 10px;
		margin: 20px auto;
	}
	.subSectionContent h3 {
		display: none;
	}

	h3 a {
		color: black;
		border-bottom: 3px solid #6e4292;
		padding-bottom: 10px;
		width: auto;
		min-width: 250px;
	}

	h3 img {
		margin-right: 1em;
	}

	h3 img + a {
		width: 220px;
	}
	h3 aside,
	.large {
		width: 95%;
	}

	.subSection.visible h3 {
		background-color: transparent;
	}
	.sectionContent img {
		max-width: 340px;
	}
	.sectionContent {
		margin: 0;
		width: 95%;
	}
	.subSectionContent {
		overflow-x: auto;
		width: 100vw;
		padding-left: 10px;
	}

	.noSubSections {
		padding-left: 10px;
	}

	.displaySection h2,
	.displaySubSection h2 {
		width: 86% !important;
	}

	pre {
		margin: 2em auto;
		max-width: 85%;
		white-space: pre-line;
	}
	#linkToHomePage {
		width: 95%;
		top: 10px;
	}
	img {
		max-width: 100% !important;
	}

	a {
		word-break: break-word;
	}
}

@media screen and (min-width: 835px) and (pointer: fine) {
	#innerBox {
		margin-top: 20px;
		border-radius: 15px;
	}
	#backgroundInnerBox {
		background-color: #ebeff8;
		min-height: 100vh;
	}
	#searchBar {
		top: 30px;
	}
	h3 {
		margin-left: -20px;
	}
	h3 aside {
		font-size: 0.65em;
	}
	.subSectionContent {
		position: absolute;
		margin-left: 240px;
		max-width: min(calc(var(--maxWidth) - 220px), 60vw);
		top: 120px;
		padding-top: 1.5em;
		padding-bottom: 8em;
		width: calc(var(--maxWidth));
		overflow-x: hidden;
		overflow-y: auto;
		padding-right: 20px;
		background-color: #ebeff8;
	}

	.subSectionContent img {
		max-width: 460px;
	}

	#linkToHomePage a {
		padding-right: 0em;
	}

	pre {
		max-width: 95%;
		overflow-y: hidden;
		overflow-x: auto;
		font-size: 0.9em;
	}
}
